html {
	box-sizing: border-box;
}

*, 
*::before,
*::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
	color: black;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
a{
	display: inline-block;
}

.container {
max-width: 1250px;
padding: 0 10px;
margin-left: auto;
margin-right: auto;	
}
.first-container {
	padding-top: 50px;
	padding-bottom: 30px;
}
header {
	background-color:#F6F6F9;
}
.header-top {
	display: flex;
	align-items: center;
}
.side-currency-info {
	display: flex;	
	margin-right: auto;
}
.namanganliklar24 {
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	color: #295091;
	background-color: white;
	letter-spacing: 1px;
	padding:2px 5px;
	box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
	border-radius: 5px;
}
.side-currency-info {
	width: 260px;
	margin-left: 15px;
	background-color: white;
	justify-content: space-between;
}
.currency-symbol {
	color:#285193;
	font-weight: bold;
}
.currency-rate {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #7A7A7A;
}
.language-changing {
	border-style: none;
	outline: none;
	width: 38px;
	height: 40px;	
	background-image: url(../img/search-icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: width 0.5s ease;
}
.language-changing:focus {
	background-color:white;
	width: 150px;
	background-image: none;
}
.languages {
	width: 64px;
	background-color: white;
	padding:10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.image-1 {
	margin-right: 4px;
	border-radius:50px;
}
.follow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 40px;
	background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
	border-radius: 5px;
}
.follow-span {
	color:white;
	margin-left: 10px;
}
.follow:hover {
	background: linear-gradient(90deg, #37AEE2  15.07%, #1E96C8 85.96%);
}	
.nav-list {
	display: flex;
	margin-top: 50px;
	margin-bottom: 20px;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}
.nav-items::after {
	content: "";
	display:block;
	width:0;
	height: 2px;
	background-color: black;
	transform: translateY(20px);
	transition: width 0.5s ease;
}
.nav-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav-items:hover::after {
	width: 100%;
}
.header-ads {
	width: 100%;
}
.nav-items:active a {
color:#285193;
}
.website-ads img {
	width: 100%;
}
.website-ads {
	width: 100%;
}

/*corona curder dead part*/
 .corona-details-info {
 	display: flex;
 	width: 100%;
 	justify-content: space-between;
 	align-items: center;
 	background: #F6F6F9;
	border-radius: 5px;
	padding: 45px 0;
	margin-top: 18px;
	padding-left: 35px;
	padding-right: 80px;
 }
.corona-items {
	display: flex;
	align-items: center;
}
.corona-icons {
	display: block;
	margin-right: 18px;
	margin-left: 32px;
}
.corona-bold {
	font-weight: bold;
}
.corona-items::before{
	content: "";
	display: block;
	width:2px;
	height: 64px; 
	background-color:#F4CCD1;
}
.corona-heading::before {
	display: none;
}
.corona-infected:before {
	height: 80px;
	background: #EB5569;
}
.corona-item-list {
	display: flex;
	flex-direction: column;
	padding-right: 50px;
}
.corona-infected-text {
	font-size: 18px;
	line-height: 21px;
	color: #DB0000;
}
.corona-infected-number{
	font-size: 24px;
	font-weight: bold;
	margin-top: 3px;
}
.corona-cured-text {
	font-size: 18px;
	line-height: 21px;
	color: #05B135;
}
.corona-cured-number{
	font-weight: bold;
	margin-top: 3px;
	font-size: 24px;
}
.corona-dead-number {
	font-weight: bold;
	margin-top: 3px;
	font-size: 24px;
}
/*start of crucial news section*/
.crucial-news-section {
	width: 100%;
	margin-top:18px;
}

.crucial-news-section-list {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.cnsl-item {
	width: 386px;
	margin-bottom: 18px;
}
.cnsl-item-text {
	margin:0;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}

/*beginning second ads*/
.get-the-news-first {
	display: flex;
	align-items: center;
}
.advertismen-2 {
	background: rgba(239, 186, 84, 0.18);
	border-radius: 5px;
	height: 90px;
	display: flex;
	align-items: center;
	margin-top: 40px;
}
.bell-icon {
	margin-left: 34px;
	margin-right:18px;
}
.link-turn-on-notification {
	background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
	border-radius: 5px;
	padding: 10px 30px;
	width: 260px;
	text-align: center;
	margin-right: 20px;
	color:white;
}
.link-turn-on-notification:hover {
	background: linear-gradient(90deg, rgba(255, 139, 54, 0.9)  0%, #FE5C28 88.43%);
}
.get-the-news-first {
	margin-right: auto;
}

/*start of latest news*/
.latest-news-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.latest-news-items {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.latest-news-items-text-header {
	font-size: 17px;
	line-height: 20px;	
	color: #202020;
	margin: 0;
}
.latest-news-items-picture {
	margin-right: 20px;
}
.latest-news-items-paragraph {
	margin:0;
	margin-top: 8px;
	margin-bottom: 12px;
}
.left-side-of-latest-news {
	width: 64%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.right-side-of-latest-news {
	display: flex;
}
.popular-news-list {
	background: #F6F6F9;
border-radius: 5px;
}
.popular-news-item {
	padding-left: 20px;
	padding-right: 20px;
}
.popular-news-paragraph  {
	margin:0;
	margin-top: 12px;
	margin-bottom: 12px;
}
.popular-new-header {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 0;
}
.bottom-line {
	margin:0px;
	margin-top: 16px;
}	
.ads-2 {
	width: 109%;
	margin-top:20px;
}
.button-for-latest-news {
	width: 212px;
	height: 42px;
	background: #295093;
	border-radius: 5px;
	color:white;
	outline: none;
	border-style: none;	
}
.button-for-latest-news:hover {
opacity: 0.9
}
.latest-new-header {
	margin-right: auto;
}


/*beginning of playstore and googleplay ads part*/
.last-advetisement {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 40px;
	background: #F6F6F9;
	border-radius: 5px;
}
.google-appstore {
	display: flex;
}
.google-appstore-link {
	margin-right: 20px;
}
.last-advetisement {
	padding-top: 30px;
}
.paragraph-part-catching-up {
	width: 530px;	
}
.header-part-catching-up{
	font-weight: 500px;
	font-size: 24px;
	line-height: 28px;
	color: #295093;
}
.paragraph-part-catching-up{
	font-weight:bold;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}
/*beginning of footer part*/

.footer-header-part {
	display: flex;
	align-items: center;
	margin-top: 40px;
	padding-top: 20px;
}
.link-footer-namanganliklar {
	width: 194px;
	height: 38px;	
	background: #133C82;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-right: auto;
}
.follow-us-p {
	margin-right: 20px;
	color:white;
}
.follow-us-link-footer {
	width: 140px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 5px;
	color:#133C82;
}
.telegram-blue-icon-img {
	margin-right: 8px;
}
.footer-underline {
	display: inline-block;
	width: 100%;
	height:2px;
	background-color:#133C82;
	border:none;
	margin:0;
	margin-bottom: 10px;
	margin-top: 10px;
}
.footer-last-part {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
.footer-last-part-column1 {
	width: 370px;
}
.last-part-column2-text {
	margin:0;
	margin-bottom: 7px;
	color:white;
}
.footer-last-part-clumn-parapgraph{
	color:white;
}
.footer-last-part-column3-text {
	margin:0;
	margin-bottom: 7px; 
	color:white;
}
.header-four {
	margin:0;
	color:white;
}
footer {
	background: #295093;
}


